
@charset "UTF-8";

body {
    background-color: #ebeff2
}

button{
   margin-left:70;
   width:80px;
   hegiht:40px;
   font-size:18px;
}
.card {
   color:black;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    margin-bottom:40px;
    margin-left:13%;
    width:800px;
}
.cardP{
   width:350px;
   height:60px;
   font-size:23px;
   border-radius:5px;
   background-color:lightgrey;
   margin-top:50px;
   margin-bottom:10px;
   margin-left:50px;
}
.card-body{
   margin-top:40px;
}
.allergy {
    position: relative;
    bottom: 8px;
    color: grey;
    
}

.head {
    color: #97989a;
    font-size: 18px;
}

.bottom {
    color: grey;
    font-size: 18px;
}


.container1 {
   margin-left: 15%; 
   max-width : 80%;
   align-items: center;
}
